@import "../../../../styles/toolkit";

.root {
  align-items: stretch;
  background-color: colour($group: "base", $variant: "white", $alpha: 95);
  counter-increment: showcase;
  display: flex;
  flex-flow: column nowrap;
  margin: 0;
  min-height: 300px;
  padding: 6px;
  position: relative;
  z-index: 1;

  @media screen and (min-width: 720px) {
    padding: 15px;
  }
}

.frame {
  background-image: repeating-linear-gradient(
      45deg,
      #{colour($group: "base", $variant: "grey_4")} 0 5px,
      #{colour($group: "base", $variant: "grey_4", $alpha: 0)} 5px 10px
    ),
    repeating-linear-gradient(
      135deg,
      #{colour($group: "base", $variant: "grey_3")} 0 5px,
      #{colour($group: "base", $variant: "grey_3", $alpha: 0)} 5px 10px
    );
  box-sizing: border-box;
  margin: 3em auto;
  max-width: 800px;
  padding: 12px;
  position: relative;
  width: 100%;

  @media screen and (min-width: 720px) {
    padding: 30px;
  }
}

.preview,
.caption {
  margin: 6px;

  @media screen and (min-width: 720px) {
    margin: 15px;
  }
}

.preview {
  background-color: colour($group: "base", $variant: "white");
  border: medium inset colour($group: "base", $variant: "grey_4");
  position: relative;
  flex: 1 1 auto;

  &:after {
    content: "";
    display: block;
    padding: 0 0 50%;
    width: 100%;
  }
}

.live {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.caption {
  align-items: center;
  color: colour($group: "base", $variant: "grey_1");
  display: flex;
  font-style: italic;
  flex-flow: row nowrap;
  flex: 0 1 100%;

  &:before,
  &:after {
    background-color: colour($group: "base", $variant: "grey_3");
    content: "";
    display: block;
    flex: 0 1 50%;
    height: 1px;
    min-width: 30px;
  }
}

.caption__text {
  flex: 1 1 auto;
  font-size: 0.75em;
  margin: 0 1ch;
  text-align: center;

  &:before {
    color: colour($group: "base", $variant: "grey_2");
    content: "fig. " counter(showcase) "\00a0\2014\00a0";
  }
}

.editor {
  display: grid;
  grid-template:
    "title" auto
    "source" 1fr
    "preview" 1fr
    "close" auto
    / "1fr";
  padding: 12px;

  @media screen and (min-width: 720px) {
    grid-template:
      "title title" auto
      "source preview" 1fr
      "close close" auto
      / 1fr 1fr;
    padding: 30px;
  }
}

.editor__toggle {
  position: absolute;
  right: 6px;
  bottom: 6px;
}

.editor__title {
  grid-area: title;
}

.editor__source,
.editor__codeBlock {
  grid-area: source;
  position: relative;
}

.editor__source {
  background: none;
  border: 0;
  color: colour($group: "base", $variant: "white");
  font-size: 14px;
  font-family: inherit;
  line-height: 1.5;
  mix-blend-mode: multiply;
  overflow: auto;
  padding: 0.75em 1.5em;
  resize: none;
  z-index: 1;
}

.editor__codeBlock {
  margin: 0;
  z-index: 0;
}

.editor__preview {
  grid-area: preview;
  position: relative;
}
