@import "../../../../styles/toolkit";

.root {
  align-items: stretch;
  background-color: colour($group: "base", $variant: "white", $alpha: 95);
  counter-increment: showcase;
  display: flex;
  flex-flow: column nowrap;
  margin: 0;
  min-height: 300px;
  padding: 6px;
  position: relative;
  z-index: 1;

  @media screen and (min-width: 720px) {
    padding: 15px;
  }
}

.frame {
  box-shadow: 0px 15px 30px -10px colour($group: "base", $variant: "black", $alpha: 25),
    0 45px 15px -30px colour($group: "base", $variant: "black", $alpha: 15);
  box-sizing: border-box;
  margin: 3em auto;
  max-width: 800px;
  padding: 12px;
  position: relative;
  width: 100%;

  &:after {
    background-blend-mode: color-dodge;
    background-image: repeating-radial-gradient(
        circle at 0 50%,
        #{colour($group: "base", $variant: "black", $alpha: 0)} 2px,
        #{colour($group: "base", $variant: "black", $alpha: 5)} calc(2px + 1px /
              var(--dpr)),
        #{colour($group: "base", $variant: "black", $alpha: 20)} calc(2px + 2px /
              var(--dpr)),
        #{colour($group: "base", $variant: "black", $alpha: 5)} calc(2px + 3px /
              var(--dpr)),
        #{colour($group: "base", $variant: "black", $alpha: 0)} calc(
            2px + 4px / var(--dpr)
          ) 8px
      ),
      radial-gradient(
        circle farthest-corner at 100% 0,
        #{colour($group: "colours", $variant: "soft_yellow", $alpha: 75)},
        17%,
        #{colour($group: "colours", $variant: "moderate_orange", $alpha: 75)},
        34%,
        #{colour($group: "colours", $variant: "soft_red", $alpha: 75)},
        51%,
        #{colour($group: "colours", $variant: "dark_pink", $alpha: 75)},
        68%,
        #{colour($group: "colours", $variant: "dark_magenta", $alpha: 75)},
        85%,
        #{colour($group: "colours", $variant: "very_dark_violet", $alpha: 75)}
      );
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  @media (prefers-color-scheme: dark) {
    box-shadow: 0px 15px 30px -10px colour($group: "colours", $variant: "soft_yellow", $alpha:
            15),
      0 45px 15px -30px colour($group: "colours", $variant: "soft_yellow", $alpha: 5);

    &:before {
      background-color: colour($group: "base", $variant: "white", $alpha: 75);
      bottom: 0;
      content: "";
      display: block;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  @media screen and (min-width: 720px) {
    padding: 30px;
  }
}

.preview,
.caption {
  margin: 6px;

  @media screen and (min-width: 720px) {
    margin: 15px;
  }
}

.preview {
  background-color: colour($group: "base", $variant: "white");
  border: medium inset colour($group: "base", $variant: "grey_4");
  flex: 1 1 auto;
  overflow: hidden;
  position: relative;

  &:after {
    content: "";
    display: block;
    padding: 0 0 50%;
    width: 100%;
  }
}

.live {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.caption {
  align-items: center;
  color: colour($group: "base", $variant: "grey_1");
  display: flex;
  font-style: italic;
  flex-flow: row nowrap;
  flex: 0 1 100%;

  &:before,
  &:after {
    background-color: colour($group: "base", $variant: "grey_3");
    content: "";
    display: block;
    flex: 0 1 50%;
    height: 1px;
    min-width: 30px;
  }
}

.caption__text {
  flex: 1 1 auto;
  font-size: 0.75em;
  margin: 0 1ch;
  text-align: center;

  &:before {
    color: colour($group: "base", $variant: "grey_2");
    content: "fig. " counter(showcase) "\00a0\2014\00a0";
  }
}

.editor {
  display: grid;
  gap: 12px;
  grid-template:
    "title" auto
    "source" 1fr
    "preview" 1fr
    "close" auto
    / 1fr;
  padding: 12px;

  @media screen and (min-width: 720px) {
    gap: 30px;
    grid-template:
      "title title" auto
      "source preview" 1fr
      "close close" auto
      / 1fr 1fr;
    padding: 30px;
  }
}

.editor__launch {
  bottom: 6px;
  position: absolute;
  right: 6px;
  text-transform: capitalize;

  &:before {
    content: "✏ ";
  }

  &:after {
    content: " editor";
  }
}

.editor__dismiss {
  background-color: colour($group: "base", $variant: "white");
  border: 0;
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  grid-area: close;
  letter-spacing: 0.05em;
  padding: 0.5em 2ch;
  place-self: center;
  text-transform: uppercase;
}

.editor__title {
  grid-area: title;
  place-self: center;
  text-align: center;
}

.editor__titleText {
  background-color: colour($group: "base", $variant: "white");
  box-decoration-break: clone;
  color: colour($group: "colours", $variant: "very_dark_violet");
  font-size: 28px;
  font-weight: 700;
  line-height: 1.75;
  padding: 0.0625em 1ch;
}

.editor__source,
.editor__codeBlock {
  grid-area: source;
  position: relative;
  scrollbar-width: thin;
}

.editor__source {
  background: none;
  border: 0;
  caret-color: colour($group: "base", $variant: "white");
  color: colour($group: "base", $variant: "white", $alpha: 0);
  font-size: 14px;
  font-family: inherit;
  line-height: 1.5;
  overflow: auto;
  padding: 0.75em 1.5em;
  resize: none;
  white-space: pre;
  z-index: 1;

  &::selection {
    background-color: colour($group: "colours", $variant: "soft_yellow");
    color: colour($group: "colours", $variant: "very_dark_violet");
  }
}

.editor__codeBlock {
  margin: 0;
  z-index: 0;
}

.editor__preview {
  background-color: colour($group: "base", $variant: "white");
  grid-area: preview;
  overflow: hidden;
  position: relative;
}
