@import "toolkit";

code[class*="language-"],
pre[class*="language-"] {
  color: #ccc;
  background: none;
  font-family: "JetBrains Mono", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
  margin: 0.5em 0;
  overflow: auto;

  &.line-numbers {
    position: relative;
    padding-left: 3ch;
    counter-reset: linenumber;

    > code {
      position: relative;
      white-space: inherit;
    }
  }
}

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -3.8em;
  width: 3em; /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;
  border-right: 1px solid colour($group: "base", $variant: "grey_3");

  @media (prefers-color-scheme: dark) {
    border-color: colour($group: "base", $variant: "grey_1");
  }

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.line-numbers-rows > span {
  display: block;
  counter-increment: linenumber;
}

.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: colour($group: "base", $variant: "grey_3");
  display: block;
  padding-right: 0.8em;
  text-align: right;

  @media (prefers-color-scheme: dark) {
    color: colour($group: "base", $variant: "grey_1");
  }
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0 0.5ch;
  border-radius: 0.25ch;
  white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: colour($group: "base", $variant: "grey_3");

  @media (prefers-color-scheme: dark) {
    color: colour($group: "base", $variant: "grey_1");
  }
}

.token.punctuation {
  color: colour($group: "colours", $variant: "dark_moderate_pink");

  @media (prefers-color-scheme: dark) {
    color: colour($group: "colours", $variant: "bright_orange");
  }
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
  color: colour($group: "colours", $variant: "soft_red");

  @media (prefers-color-scheme: dark) {
    color: colour($group: "colours", $variant: "soft_red");
  }
}

.token.function-name {
  color: colour($group: "colours", $variant: "very_dark_violet");

  @media (prefers-color-scheme: dark) {
    color: colour($group: "colours", $variant: "soft_yellow");
  }
}

.token.boolean,
.token.number,
.token.function {
  color: colour($group: "colours", $variant: "moderate_pink");

  @media (prefers-color-scheme: dark) {
    color: colour($group: "colours", $variant: "moderate_pink");
  }
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
  color: colour($group: "colours", $variant: "soft_yellow");

  @media (prefers-color-scheme: dark) {
    color: colour($group: "colours", $variant: "soft_yellow");
  }
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
  color: colour($group: "colours", $variant: "very_dark_magenta");

  @media (prefers-color-scheme: dark) {
    color: colour($group: "colours", $variant: "very_dark_magenta");
  }
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
  color: #7ec699;
}

.token.operator,
.token.entity,
.token.url {
  color: #67cdcc;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.inserted {
  color: green;
}
