@import "../../styles/toolkit";

.root {
  background-color: colour($group: "base", $variant: "white", $alpha: 85);
  box-shadow: 0 10px 15px 5px colour($group: "base", $variant: "grey_2", $alpha: 10),
    0 0 10px colour($group: "base", $variant: "grey_2", $alpha: 20);
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  text-decoration: none;

  @media (prefers-color-scheme: dark) {
    background-color: colour($group: "base", $variant: "black", $alpha: 85);
    box-shadow: 0 10px 15px 5px
        colour($group: "colours", $variant: "soft_red", $alpha: 10),
      0 0 10px colour($group: "colours", $variant: "soft_red", $alpha: 20);
  }
}

.header,
.footer {
  padding: 12px 24px;
}

.header,
.footer {
  background-color: colour($group: "base", $variant: "grey_2", $alpha: 5);
  border-color: colour($group: "base", $variant: "grey_3", $alpha: 50);
  border-style: solid;
  flex: 0 0 auto;
}

.header {
  background-image: radial-gradient(
      circle farthest-corner at 0 50%,
      #{colour($group: "colours", $variant: "very_dark_violet", $alpha: 85)},
      #{colour($group: "colours", $variant: "soft_red", $alpha: 85)},
      #{colour($group: "colours", $variant: "soft_yellow", $alpha: 85)}
    ),
    repeating-radial-gradient(
      circle at 0 50%,
      transparent 2px,
      #{colour($group: "base", $variant: "black", $alpha: 5)} calc(2px + 1px / var(--dpr)),
      #{colour($group: "base", $variant: "black", $alpha: 20)} calc(2px + 2px / var(--dpr)),
      #{colour($group: "base", $variant: "black", $alpha: 5)} calc(2px + 3px / var(--dpr)),
      transparent calc(2px + 4px / var(--dpr)) 8px
    );
  background-blend-mode: color-dodge;
  border-width: 0 0 1px;
}

.heading {
  margin: 0;
}

.heading__text {
  background-color: colour($group: "base", $variant: "black", $alpha: 37.5);
  box-decoration-break: clone;
  color: white;
  display: inline;
  line-height: 1.5;
  padding: 0 0.5ch;

  @extend %emphasis;
}

.body {
  flex: 1 0 auto;
  padding: 24px;
}

.description {
  align-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;

  &:before {
    align-self: stretch;
    background-image: repeating-radial-gradient(
      circle at 50% 50%,
      #{colour($group: "base", $variant: "black", $alpha: 0)} 0 1px,
      #{colour($group: "base", $variant: "black", $alpha: 20)} 1px,
      #{colour($group: "base", $variant: "black")} 1.5px,
      #{colour($group: "base", $variant: "black", $alpha: 20)} 2px,
      #{colour($group: "base", $variant: "black", $alpha: 0)} 2px
    );
    background-position: center;
    background-repeat: repeat;
    background-size: 6px 10px;
    content: "";
    display: block;
    flex: 0 0 6px;
    margin: 0 10px 0 0;

    @media (prefers-color-scheme: dark) {
      background-image: repeating-radial-gradient(
        circle at 50% 50%,
        #{colour($group: "colours", $variant: "soft_yellow", $alpha: 0)} 0 1px,
        #{colour($group: "colours", $variant: "soft_yellow", $alpha: 20)} 1px,
        #{colour($group: "colours", $variant: "soft_yellow")} 1.5px,
        #{colour($group: "colours", $variant: "soft_yellow", $alpha: 20)} 2px,
        #{colour($group: "colours", $variant: "soft_yellow", $alpha: 0)} 2px
      );
    }
  }

  strong {
    flex: 1 0 0;
  }
}

.footer {
  align-items: center;
  border-width: 1px 0 0;
  display: flex;
  flex-flow: row nowrap;
  gap: 15px;
}

.tag__cloud {
  align-content: center;
  display: flex;
  flex-flow: row wrap;
  flex: 1 1 auto;
  font-size: 10px;
  list-style: none;
  margin: -0.25em -0.5ch;
  padding: 0;
}

.tag {
  background-color: colour($group: "colours", $variant: "very_dark_violet");
  border-radius: 1ch / 50%;
  color: colour($group: "base", $variant: "white");
  flex: 0 0 auto;
  line-height: (3 / 2);
  margin: 0.25em 0.5ch;
  padding: 0 1.5ch;
  text-transform: uppercase;
}

.date {
  flex: 0 0 auto;
}
