@import "../../styles/toolkit";

.grid {
  display: grid;
  flex: 1 1 auto;
  grid-template:
    ". . ." 30px
    ". header ." auto
    ". . ." 1fr
    ". footer ." auto
    ". . ." 30px
    / 30px 1fr 30px;
  height: 100%;
  overflow: auto;

  @media screen and (min-width: 720px) {
    grid-template:
      ". . . . ." 30px
      ". . header . ." auto
      ". . . . ." 1fr
      ". . footer . ." auto
      ". . . . ." 30px
      / 30px 60px 1fr 60px 30px;
  }
}

.header,
.footer {
  max-width: 1200px;
  width: 100%;
}

.header {
  grid-area: header;
  place-self: center;
  position: relative;
  z-index: 2;
}

.main {
  /* background-image: radial-gradient(
      transparent 0 8px,
      #{colour($group: "colours", $variant: "olive", $alpha: 25)} 8.25px 8.75px,
      transparent 9px
    ),
    linear-gradient(
      240deg,
      #{colour($group: "colours", $variant: "ivory")} 0 40%,
      transparent 40%
    ),
    repeating-linear-gradient(
      60deg,
      #{colour($group: "colours", $variant: "apricot")} 0 1px,
      transparent 8px,
      #{colour($group: "colours", $variant: "ruby")},
      transparent 9px 60px
    );
  background-size: 40px 40px, cover, 100% 20%;
  background-repeat: repeat, no-repeat, no-repeat;
  background-position: center center, center center, -50% 25%;
  background-attachment: fixed;
  background-blend-mode: hard-light; */
  box-sizing: content-box;
  display: grid;
  grid-template:
    ". content ." 90px
    ". content ." auto
    ". content ." 90px
    / 30px 1fr 30px;
  grid-column: 1 / span 3;
  grid-row: 1 / span 5;
  letter-spacing: -0.033em;
  line-height: 1.5;
  mask-image: linear-gradient(
      to bottom,
      #{colour($group: "base", $variant: "black", $alpha: 0)},
      #{colour($group: "base", $variant: "black", $alpha: 15)} 90px,
      #{colour($group: "base", $variant: "black")} 150px 50%,
      #{colour($group: "base", $variant: "black", $alpha: 0)} 50%
    ),
    linear-gradient(
      to top,
      #{colour($group: "base", $variant: "black", $alpha: 0)},
      #{colour($group: "base", $variant: "black", $alpha: 15)} 90px,
      #{colour($group: "base", $variant: "black")} 150px 50%,
      #{colour($group: "base", $variant: "black", $alpha: 0)} 50%
    );
  max-height: 100%;
  overflow: auto;
  place-self: stretch;
  position: relative;
  scrollbar-color: colour($group: "colours", $variant: "olive", $alpha: 40)
    colour($group: "colours", $variant: "ivory", $alpha: 40);
  scrollbar-width: thin;
  word-spacing: -0.033em;
  z-index: 0;

  @media screen and (min-width: 720px) {
    grid-column: 1 / span 5;
    grid-template:
      ". content ." 90px
      ". content ." auto
      ". content ." 90px
      / 90px 1fr 90px;
  }
}

.content {
  grid-area: content;
  place-self: safe center;
  max-width: 1200px;
  padding: 120px 0;
  width: 100%;

  @media screen and (min-width: 720px) {
    padding: 150px 0;
  }
}

.footer {
  grid-area: footer;
  place-self: center;
  position: relative;
  z-index: 1;
}

.aside {
  align-items: flex-start;
  display: flex;
  flex-flow: column nowrap;
  grid-column: 1 / span 3;
  grid-row: 1 / span 5;
  overflow: hidden;
  pointer-events: none;
  position: sticky;
  top: 0;
  visibility: hidden;
  z-index: 3;

  @media screen and (min-width: 720px) {
    grid-column: 2 / span 3;
    grid-row: 2 / span 3;
    top: 30px;
  }
}

.initials {
  display: inline-block;
  height: 1.25em;
  vertical-align: middle;
  width: auto;
}
