@import "../../styles/toolkit";

.grid {
  display: grid;
  flex: 1 1 auto;
  grid-template:
    ". . ." 30px
    ". header ." auto
    ". . ." 1fr
    ". footer ." auto
    ". . ." 30px
    / 30px 1fr 30px;
  height: 100%;
  overflow: auto;

  @media screen and (min-width: 720px) {
    grid-template:
      ". . . . ." 30px
      ". . header . ." auto
      ". . . . ." 1fr
      ". . footer . ." auto
      ". . . . ." 30px
      / 30px 60px 1fr 60px 30px;
  }
}

.header,
.footer {
  max-width: 1200px;
  width: 100%;
}

.header {
  grid-area: header;
  place-self: center;
  position: relative;
  z-index: 2;
}

.main {
  box-sizing: content-box;
  display: grid;
  grid-template:
    ". content ." 90px
    ". content ." auto
    ". content ." 90px
    / 30px 1fr 30px;
  grid-column: 1 / span 3;
  grid-row: 1 / span 5;
  letter-spacing: -0.033em;
  line-height: 1.5;
  mask-image: linear-gradient(
      to bottom,
      #{colour($group: "base", $variant: "black", $alpha: 0)} 0 30px,
      #{colour($group: "base", $variant: "black", $alpha: 1)} 39px,
      #{colour($group: "base", $variant: "black", $alpha: 4)} 48px,
      #{colour($group: "base", $variant: "black", $alpha: 9)} 57px,
      #{colour($group: "base", $variant: "black", $alpha: 16)} 66px,
      #{colour($group: "base", $variant: "black", $alpha: 25)} 75px,
      #{colour($group: "base", $variant: "black", $alpha: 36)} 84px,
      #{colour($group: "base", $variant: "black", $alpha: 49)} 93px,
      #{colour($group: "base", $variant: "black", $alpha: 64)} 102px,
      #{colour($group: "base", $variant: "black", $alpha: 81)} 111px,
      #{colour($group: "base", $variant: "black")} 120px 60%,
      #{colour($group: "base", $variant: "black", $alpha: 0)} 60%
    ),
    linear-gradient(
      to top,
      #{colour($group: "base", $variant: "black", $alpha: 0)} 0 30px,
      #{colour($group: "base", $variant: "black", $alpha: 1)} 39px,
      #{colour($group: "base", $variant: "black", $alpha: 4)} 48px,
      #{colour($group: "base", $variant: "black", $alpha: 9)} 57px,
      #{colour($group: "base", $variant: "black", $alpha: 16)} 66px,
      #{colour($group: "base", $variant: "black", $alpha: 25)} 75px,
      #{colour($group: "base", $variant: "black", $alpha: 36)} 84px,
      #{colour($group: "base", $variant: "black", $alpha: 49)} 93px,
      #{colour($group: "base", $variant: "black", $alpha: 64)} 102px,
      #{colour($group: "base", $variant: "black", $alpha: 81)} 111px,
      #{colour($group: "base", $variant: "black")} 120px 60%,
      #{colour($group: "base", $variant: "black", $alpha: 0)} 60%
    );
  max-height: 100%;
  overflow: auto;
  place-self: stretch;
  position: relative;
  scrollbar-color: colour($group: "colours", $variant: "very_dark_violet", $alpha: 40)
    colour($group: "colours", $variant: "soft_yellow", $alpha: 40);
  scrollbar-width: thin;
  word-spacing: -0.033em;
  z-index: 0;

  @media (prefers-color-scheme: dark) {
    scrollbar-color: colour($group: "colours", $variant: "bright_orange")
      colour($group: "base", $variant: "white", $alpha: 20);
  }

  @media screen and (min-width: 720px) {
    grid-column: 1 / span 5;
    grid-template:
      ". content ." 90px
      ". content ." auto
      ". content ." 90px
      / 90px 1fr 90px;
    mask-image: linear-gradient(
        to bottom,
        #{colour($group: "base", $variant: "black", $alpha: 0)} 0 30px,
        #{colour($group: "base", $variant: "black", $alpha: 1)} 42px,
        #{colour($group: "base", $variant: "black", $alpha: 4)} 54px,
        #{colour($group: "base", $variant: "black", $alpha: 9)} 66px,
        #{colour($group: "base", $variant: "black", $alpha: 16)} 78px,
        #{colour($group: "base", $variant: "black", $alpha: 25)} 90px,
        #{colour($group: "base", $variant: "black", $alpha: 36)} 102px,
        #{colour($group: "base", $variant: "black", $alpha: 49)} 114px,
        #{colour($group: "base", $variant: "black", $alpha: 64)} 126px,
        #{colour($group: "base", $variant: "black", $alpha: 81)} 138px,
        #{colour($group: "base", $variant: "black")} 150px 60%,
        #{colour($group: "base", $variant: "black", $alpha: 0)} 60%
      ),
      linear-gradient(
        to top,
        #{colour($group: "base", $variant: "black", $alpha: 0)} 0 30px,
        #{colour($group: "base", $variant: "black", $alpha: 1)} 42px,
        #{colour($group: "base", $variant: "black", $alpha: 4)} 54px,
        #{colour($group: "base", $variant: "black", $alpha: 9)} 66px,
        #{colour($group: "base", $variant: "black", $alpha: 16)} 78px,
        #{colour($group: "base", $variant: "black", $alpha: 25)} 90px,
        #{colour($group: "base", $variant: "black", $alpha: 36)} 102px,
        #{colour($group: "base", $variant: "black", $alpha: 49)} 114px,
        #{colour($group: "base", $variant: "black", $alpha: 64)} 126px,
        #{colour($group: "base", $variant: "black", $alpha: 81)} 138px,
        #{colour($group: "base", $variant: "black")} 150px 60%,
        #{colour($group: "base", $variant: "black", $alpha: 0)} 60%
      );
  }
}

.content {
  counter-reset: showcase;
  grid-area: content;
  place-self: safe center;
  max-width: 1200px;
  min-width: 260px;
  padding: 120px 0;
  width: 100%;

  @media screen and (min-width: 720px) {
    padding: 150px 0;
  }
}

.aside {
  align-items: flex-start;
  display: flex;
  flex-flow: column nowrap;
  grid-column: 1 / span 3;
  grid-row: 1 / span 5;
  overflow: hidden;
  pointer-events: none;
  position: relative;
  visibility: hidden;
  z-index: 3;

  @media screen and (min-width: 720px) {
    grid-column: 2 / span 3;
    grid-row: 2 / span 3;
  }
}

.footer {
  grid-area: footer;
  place-self: center;
  position: relative;
  z-index: 1;
}

.dialogue {
  grid-column: 1 / span 3;
  grid-row: 1 / span 5;

  @media screen and (min-width: 720px) {
    grid-column: 1 / span 5;
  }
}
