@import "../../styles/toolkit";

.root {
  box-shadow: 5px 0 10px -5px colour($group: "base", $variant: "grey_2", $alpha: 40);
  display: flex;
  flex-flow: row nowrap;
  flex: 1 1 auto;
  max-height: 100%;
  max-width: 280px;
  pointer-events: auto;
  position: relative;
  transform: translateX(-100%);
  transition: transform 0.6s ease;
  visibility: visible;

  @media (prefers-color-scheme: dark) {
    box-shadow: 5px 0 10px -5px #{colour(
        $group: "colours",
        $variant: "soft_yellow",
        $alpha: 40
      )};
  }

  @media screen and (min-width: 720px) {
    max-width: 360px;
  }

  &:before {
    background-color: colour($group: "base", $variant: "white", $alpha: 75);
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.open {
  transform: none;
}

.toggle {
  align-self: center;
  appearance: none;
  background-color: colour($group: "colours", $variant: "very_dark_violet");
  border-radius: 0 100% 100% 0 / 0 2em 2em 0;
  border: 0;
  box-shadow: inset 5px 0 10px -5px #{colour(
        $group: "base",
        $variant: "grey_3",
        $alpha: 10
      )},
    0 0 10px 5px #{colour($group: "base", $variant: "grey_3", $alpha: 20)};
  color: colour($group: "base", $variant: "white");
  display: block;
  flex: 0 0 20px;
  font-family: inherit;
  order: 1;
  outline: none;
  padding: 2em 0;
  padding: 2em 0;
  position: relative;
  transition: background-color 0.6s ease, color 0.6s ease, transform 0.6s ease;
  z-index: 0;

  @media (prefers-color-scheme: dark) {
    box-shadow: inset 5px 0 10px -5px #{colour(
          $group: "colours",
          $variant: "soft_yellow",
          $alpha: 20
        )},
      0 0 10px 2px #{colour($group: "colours", $variant: "soft_yellow", $alpha: 40)};
  }

  &:active {
    padding: 2em 0;
  }

  .open &,
  &:focus {
    background-color: colour($group: "colours", $variant: "bright_orange");
    color: colour($group: "colours", $variant: "very_dark_violet");
    transform: scale3d(1.25, 1.25, 1);
    transform-origin: 0 50%;

    @media (prefers-color-scheme: dark) {
      background-color: colour($group: "colours", $variant: "very_dark_violet");
      box-shadow: 0 0 10px 2px #{colour(
          $group: "colours",
          $variant: "soft_yellow",
          $alpha: 40
        )};
      color: colour($group: "base", $variant: "white");
    }
  }
}

.toggle__text {
  font-weight: 800;
  line-height: 1;
  text-align: center;
  text-indent: 0.33em;
  text-orientation: upright;
  text-transform: uppercase;
  writing-mode: vertical-lr;

  @extend %emphasis;
}

.list {
  backdrop-filter: blur(5px);
  background-blend-mode: color-dodge;
  background-image: repeating-radial-gradient(
      circle at 0 50%,
      #{colour($group: "base", $variant: "black", $alpha: 0)} 2px,
      #{colour($group: "base", $variant: "black", $alpha: 5)} calc(2px + 1px / var(--dpr)),
      #{colour($group: "base", $variant: "black", $alpha: 20)} calc(2px + 2px / var(--dpr)),
      #{colour($group: "base", $variant: "black", $alpha: 5)} calc(2px + 3px / var(--dpr)),
      #{colour($group: "base", $variant: "black", $alpha: 0)} calc(2px + 4px / var(--dpr))
        8px
    ),
    radial-gradient(
      circle farthest-corner at 0 100%,
      #{colour($group: "colours", $variant: "soft_yellow", $alpha: 75)},
      17%,
      #{colour($group: "colours", $variant: "moderate_orange", $alpha: 75)},
      34%,
      #{colour($group: "colours", $variant: "dark_orange", $alpha: 75)},
      51%,
      #{colour($group: "colours", $variant: "moderate_pink", $alpha: 75)},
      68%,
      #{colour($group: "colours", $variant: "dark_magenta", $alpha: 75)},
      85%,
      #{colour($group: "colours", $variant: "very_dark_violet", $alpha: 75)}
    );
  background-repeat: no-repeat;
  background-size: cover;
  color: colour($group: "base", $variant: "white");
  display: flex;
  flex-flow: column nowrap;
  flex: 0 0 100%;
  font-size: 28px;
  justify-content: flex-start;
  letter-spacing: 0.05em;
  list-style: none;
  margin: 0;
  order: 0;
  overflow: auto;
  padding: 0;
  position: relative;
  scrollbar-color: colour($group: "colours", $variant: "very_dark_violet", $alpha: 40)
    colour($group: "base", $variant: "grey_4", $alpha: 40);
  scrollbar-width: thin;
  text-decoration: none;
  text-transform: uppercase;
  transition: visibility 0.6s step-end;
  word-spacing: -0.25em;
  visibility: hidden;
  z-index: 1;

  .open & {
    visibility: visible;
    transition: visibility 0.6s step-start;
  }

  &:after,
  &:before {
    content: "";
    display: block;
    flex: 1 1 0;
  }

  @media (prefers-color-scheme: dark) {
    background-blend-mode: overlay;
  }
}

.item {
  flex: 0 0 auto;
  margin: 0.75em 0;
  padding: 0 30px;

  @media screen and (min-width: 720px) {
    padding: 0 60px;
  }
}

.link {
  background-color: colour($group: "base", $variant: "black", $alpha: 60);
  box-decoration-break: clone;
  color: inherit;
  hyphens: auto;
  line-height: 1.5;
  padding: 0.25em 0.75ch;
  text-decoration: none;

  @extend %emphasis;

  &:hover,
  &:focus {
    color: colour($group: "colours", $variant: "bright_orange");
  }

  &:active {
    color: colour($group: "colours", $variant: "soft_yellow");
  }
}
