@import "../../styles/toolkit";

.root {
  max-height: 100%;
  overflow: auto;
  scrollbar-color: colour($group: "colours", $variant: "very_dark_violet", $alpha: 40)
    colour($group: "colours", $variant: "soft_yellow", $alpha: 40);
  scrollbar-width: thin;
}

.code {
  border-radius: 4px;
  box-sizing: border-box;
  height: 100%;

  @media (prefers-color-scheme: dark) {
    scrollbar-color: colour($group: "colours", $variant: "bright_orange")
      colour($group: "base", $variant: "white", $alpha: 20);
  }
}
