@import "../../styles/toolkit";

.root {
  background-color: colour(
    $group: "colours",
    $variant: "soft_yellow",
    $alpha: 40
  );
  display: flex;
  flex-flow: row nowrap;
}

.source {
  flex: 1 1 auto;
}

.live {
  flex: 1 1 auto;
}

.image {
  flex: 1 1 auto;
}
